emoji==1.7.0
imbalanced_learn==0.9.0
imblearn==0.0
matplotlib==3.5.1
nltk==3.5
numpy==1.21.0
pandas==1.4.0
scikit_learn==1.0.2
seaborn==0.11.0
tensorflow==2.8.0
tensorflow_gpu==2.7.0
torch==1.11.0
transformers==4.18.0
matplotlib==3.3.2
